/* === === === === GERAL === === === === === === === === === === === === */

:root {
  font-size: 62.5%;

  --header-height: 9.5rem;
  --header-height-desktop: 14rem;

  --button: #8257e5;
  --border: #29292e;

  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;

  --screen-width: min(37.7rem, 96%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  overflow: overlay;
  overflow-x: hidden;
}

body {
  position: relative;

  background: black;

  color: white;
  font-size: 1.6rem;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  width: min(37.7rem, 96%);
  margin-inline: auto;
  text-align: center;
}

button {
  background: none;
  border: none;
}

.styled-button {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 1rem;

  color: white;
  text-transform: uppercase;

  width: 17.4rem;
  height: 3.5rem;

  border: 1px solid var(--button);
  border-radius: 0.6rem;

  font-weight: 700;
  font-size: 1.1rem;

  letter-spacing: 0.02rem;

  cursor: pointer;

  transform: scale(1);

  transition: all 300ms;
}

.styled-button:hover {
  background-color: #8257e5;
}

.syled-button:active {
  background-color: red;
}

body > img {
  display: none;
}

/* === === === === HEADER === === === === === === === === === === === === */

header {
  display: flex;
  align-items: center;

  height: var(--header-height);

  border-bottom: solid 1px var(--border);
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  background: url("./assets/svg/logo-mobile.svg");
  background-repeat: no-repeat;
  width: 18rem;
  height: 3rem;
}

header .styled-button {
  display: none;
}

header .close-menu {
  display: none;
}

/* === === === === NAVIGATION === === === === === === === === === === === === */

#navigation {
  display: none;
}

#navigation .wrapper {
  display: fixed;
  width: 100%;
}

#navigation ul {
  height: 100%;

  list-style: none;
}

#navigation li {
  border-block: 1px solid var(--border);
}

#navigation a {
  display: flex;

  text-decoration: none;
  color: var(--text-color-menu-mobile);

  padding-left: 3.8rem;
  padding-block: 1.8rem;
}

/* === === === === MENU-EXPANDED === === === === === === === === === === === === */

header.menu-expanded .close-menu {
  display: initial;
}

header.menu-expanded .open-menu {
  display: none;
}

nav.menu-expanded + main#main {
  display: none;
}

#navigation.menu-expanded {
  display: initial;
}

.blur-mobile.menu-expanded {
  display: none;
}

/* === === === === MAIN === === === === === === === === === === === === */

main {
  /* usei "position: relative" para q ".blur-mobile" fique no ¨bottom" da pagina */
  position: relative;
}

main .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
/* === === === === TITLE === === === === === === === === === === === === */

.title {
  margin-block: 8.8rem;
  font-size: 3rem;
  line-height: 4.1rem;
  letter-spacing: 0.02em;
}

/* === === === === BUTTON === === === === === === === === === === === ===  */

main .styled-button {
  margin-inline: auto;
  margin-bottom: 10.8rem;
}

main button svg {
  transform: translateY(-0.08rem);
}

/* === === === === SLOGAN === === === === === === === === === === === ===  */

h2.slogan {
  font-weight: 700;
  font-size: 5rem;
  line-height: 6.8rem;
  letter-spacing: -0.03rem;
}

h2.slogan span {
  color: black;
  text-shadow: 1px 1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), -1px -1px 0 var(--button);
}

/* === === === === COFFEE === === === === === === === === === === === === */

.coffee {
  margin-top: 2.5rem;
}

/* === === === === FOOTER === === === === === === === === === === === === */

#footer {
  width: 100%;
}

.blur-mobile {
  display: initial;

  position: absolute;

  width: 100%;

  z-index: -1;

  transform: translateY(-100%);
}

/* === === === === RESPONSIVE === === === === === === === === === === === === */

@media (min-width: 768px) {
  .wrapper {
    width: 62rem;
  }
}

@media (min-width: 1024px) {
  /* === === === === NOT === === === === === === === === === === === === */
  .blur-mobile,
  .open-menu,
  .close-menu,
  main .title,
  main .title + button {
    display: none;
  }

  /* === === === === GERAL === === === === === === === === === === === === */

  body,
  html {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    width: initial;
  }

  /* === === === === HEADER === === === === === === === === === === === === */

  header,
  header .wrapper {
    border: initial;
    margin: initial;
    display: initial;
    justify-content: initial;
    align-items: initial;
    width: initial;
    height: initial;
  }

  header {
    display: flex;
    justify-content: center;

    margin-block: 5rem 4rem;
  }

  header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(7rem);
  }

  header .logo {
    background-image: url(./assets/svg/logo-desktop.svg);
    width: 5rem;
    height: 5rem;
  }

  header nav#navigation {
    margin-left: 14rem;
    margin-right: 13rem;

    transform: translateX(rem);
  }

  header nav#navigation li:nth-child(1) {
    margin-right: calc(2.2rem / 2);
  }

  header nav#navigation li:last-child {
    margin-left: calc(2.2rem / 2);
  }

  header nav#navigation li {
    margin-inline: calc(2.2rem / 2);
  }

  header nav#navigation a {
    padding: calc(1rem / 2);
  }

  header .styled-button {
    display: flex;
  }

  /* === === === === NAVIGATION === === === === === === === === === === === === */

  #navigation,
  #navigation ul,
  #navigation li,
  #navigation a {
    display: initial;
    border: initial;
    padding: initial;
    margin: initial;
    height: initial;
    width: initial;
  }

  /* === === === === MAIN === === === === === === === === === === === === */

  main {
    height: calc(100% - 14rem);
  }

  main .wrapper {
    height: 100%;

    align-items: center;
  }

  /* === === === === SLOGAN === === === === === === === === === === === === */

  h2.slogan {
    font-size: 8rem;
    line-height: 10.9rem;
  }

  /* === === === === COFFEE === === === === === === === === === === === === */

  .coffee {
    width: 79.8rem;
    height: auto;

    position: absolute;

    bottom: 0;
  }

  /* === === === === BLUR-BACKGROUND === === === === === === === === === === === === */

  .blur-top {
    display: initial;
    position: absolute;

    right: 0;
    top: 0;

    z-index: -1;

    transform: translateY(-5rem);
  }

  .blur-bottom {
    display: initial;
    position: absolute;

    left: 0;
    bottom: 0;

    z-index: -1;
  }
}
